<div id="header" class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<ul class="nav pull-left" data-active="<%=@active %>">
				<li><h3><a href="/"><img src="/images/logo-small.png" id="OSConf-navbar-logo"/></a></h3></li>
				<li><a href="#attend">Attend</a></li>
				<li><a href="#speakers">Speakers</a></li>
				<li><a href="#sponsors">Sponsors</a></li>
			</ul>
		</div>
	</div>
</div>